mat-form-field {
    max-width: 400px;
    width: 100%;
}

.center-i {
    position: relative;
    bottom: 8px;
}

.accordion {
    margin-top: 20px;
    padding: 1.5rem;
    box-shadow: 0 0 10px -3px rgb(0, 0, 0, .5);
    border-radius: 12px;
    border-left: 4px solid green;
}

.accordion_link {
    display: inline-block;
    color: #0f7ec6;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
}

.vigencia {
    font-style: italic;
    color: darkgray;
}

.accordion_item {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.accordion_content {
    overflow: hidden;
}

.accordion:has(:checked) {
    --rows: 1fr;
    --angulo: 180deg;
}

.rotacion {
    transition: .3s rotate;
    rotate: var(--angulo, 0deg);
}